{% extends "base.html" %} {% block title %}Search{% endblock %} {% block content
    %}
        <h1><center>Library</center></h1>
        <form align="center" method="post" action="">
            <input style="width: 350px;" type="text" placeholder="Search by title" name="book">
            <button type="submit" class="btn btn-primary")">Search</button>
        </form>
        <center>
        {% for item in data %}
            <ul class="list-group list-group-flush" id="books">
                <li class="list-group-item">
                {{item.title}} 
                <button type="button" class="close" onClick="">
                    <span aria-hidden="true">Check out</span>
                  </button>
                </li>
            </ul>
        {% endfor %}
        </center>
        {% endblock %}